   <div class="container">

      <div class="starter-template">
        <h2>About Readability</h2><br><br>

        <p>The Readability web app was designed using some basic ruby code.<br>
        It takes advantage of text parsing via regex expressions and standard ruby methods.<br>
        <br>
        <br>
        <ul class="list-group">Here are some more technical details about the application: 	
		 <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> Built using Ruby on Rails</li>
		 <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> Deployed on Heroku</li>
		 <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> Uses Routing, Views, Helper Methods, and Controllers</li>
		 <li class="list-group-item"><span class="glyphicon glyphicon-check"></span> Designed using HTML5, CSS3, Bootstrap, and Javascript</li>
		</ul>  
       <br>
        To review the source code, please visit github here: <br><br>
        <%= link_to "Readability on Github", "http://github.com/nalexiou/readability", target: "_blank" %>
        </p>
        <p>Thank you for visiting!</p>
        <p>Nikolaos Alexiou</p>
	  </div>
    </div><!-- /.container -->